In [79]:
import pandas as pd
from datetime import datetime

In [80]:
df = pd.read_csv('USMNT_2023.csv')
df.head()

,Player,Position,Birthday,Age,Club,League,Market_Value
0,Gabriel Slonina,GK,May-15-2004,19,Chelsea,EPL,8000000
1,Matt Turner,GK,June-24-1994,28,Arsenal,EPL,5000000
2,Zach Steffen,GK,April-2-1995,28,Middlesbrough,EFL Championship,4500000
3,Sean Johnson,GK,May-31-1989,33,Toronto FC,MLS,1500000
4,Ethan Horvath,GK,June-9-1995,27,Luton Town,EFL Championship,1000000

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Player        66 non-null     object
 1   Position      66 non-null     object
 2   Birthday      66 non-null     object
 3   Age           66 non-null     int64
 4   Club          66 non-null     object
 5   League        66 non-null     object
 6   Market_Value  66 non-null     int64
dtypes: int64(2), object(5)
memory usage: 3.7+ KB

I want to be able to sort by the date the players were born so I need to change the months name to its numerical counterpart. But before I can get to that I need to expand the date to replace the month

In [82]:
months = {'January': 1, 'February':2, 'March':3, 'April':4, 'May':5,'June':6,'July':7, 'August':8,'September':9,'October':10, 'November':11, 'December':12}

In [83]:
df['Birthday'] = df['Birthday'].astype('string')
df['month'] = df['Birthday'].str.split('-', expand = True)[0]
df['day'] = df['Birthday'].str.split('-', expand = True)[1]
df['year'] = df['Birthday'].str.split('-', expand = True)[2]

Using the map function to replace the name to the numerical counterpart

In [84]:
df['month'] = df['month'].map(months)

In [85]:
df = df.drop(['month','day','year'],axis =1)

In [86]:
df['Birthday'] = pd.to_datetime(df['Birthday'])

In [87]:
df.head()

,Player,Position,Birthday,Age,Club,League,Market_Value
0,Gabriel Slonina,GK,2004-05-15,19,Chelsea,EPL,8000000
1,Matt Turner,GK,1994-06-24,28,Arsenal,EPL,5000000
2,Zach Steffen,GK,1995-04-02,28,Middlesbrough,EFL Championship,4500000
3,Sean Johnson,GK,1989-05-31,33,Toronto FC,MLS,1500000
4,Ethan Horvath,GK,1995-06-09,27,Luton Town,EFL Championship,1000000